<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<%- include('navbar') %>
<body>
  <h1><%= title %></h1>
  <a href="download/<%= file.prefix %>/<%= file.originalName %>">Download</a>
  <h2>Info</h2>
  <ul>
    <li>
      Upload Time: <%= uploadTime %>
    </li>
  </ul>
</body>
</html>