<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <%- include('navbar') %>
  <header>
    <h1><%= title %></h1>
  </header>
  <form action="<%= postUrl %>/addFolder" method="post">
    <h2>Add new folder here</h2>
    <section>
      <p>
        <label for="newFolder">
          <span>New Folder in this Directory: </span>
          <strong><span aria-label="required">*</span></strong>
        </label>
        <input type="text" id="newFolder" name="newFolder" required>
      </p>
    </section>
    <section>
      <p>
        <button type="upload">Make New Folder</button>
      </p>
    </section>
  </form>
  <div>
    <% if (locals.id) { %>
      <form action="/folders/update/<%= id %>" method="post">
        <h2>Rename this Folder</h2>
        <section>
          <p>
            <label for="newName">
              <span>Rename as: </span>
              <strong><span aria-label="required">*</span></strong>
            </label>
            <input type="text" id="newName" name="newName" required>
          </p>
        </section>
        <p>
          <button type="upload">Rename this Folder</button>
        </p>
      </form>
    <% } %>
    <% if (folders.length === 0) { %>
      <form action="/folders/delete/<%= id %>" method="post">
          <p>
            <button type="upload">Delete This Folder</button>
          </p>
      </form>
    <% } else { %>
      <% for (let i = 0; i < folders.length; i++) { %>
        <li>
          <a href="<%= postUrl %>/<%= folders[i].id %>">
            <span><%= folders[i].name %></span>
          </a>
        </li>
      <% } %>
    <% } %>
  </div>
</html>